PORT=4000
DB_HOST="mongodb+srv://SOMEHOST.mongodb.net/?retryWrites=true&w=majority"
FRONTEND_URL="frontend url"
AUTH_SECRET="SOME SECRET STRING HERE. MUST BE THE SAME FOR BACKEND AND FRONTEND"
SENDGRID_API_KEY="some api key"
SENDGRID_EMAIL_FROM="email from address"
SENDGRID_TEMPLATE_EMAIL_CONFIRM="template id"
CLOUDFLARE_ACCOUNT_ID="some app id"
CLOUDFLARE_API_TOKEN="some api token"
STRIPE_PUBLISHABLE_KEY="pk_test_..."
STRIPE_SECRET_KEY="sk_test_..."
